.App {
  text-align: center;
  background: radial-gradient(circle, #f0eadf, #ebcfa0);
  height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
  /* background-color: #dfc69a; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 여기서부터 추가한 CSS */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}
.finished {
  text-decoration: line-through;
}
.button-container{
  display: flex;
  justify-content: space-between;
}

.todo-list {
  margin-top: 20px;
}

.box-style {
  border: 2px solid #dfc69a;
  padding: 1%;
  margin-bottom: 1%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.todo-item {
  text-decoration: inherit;
  /* 기본값으로 설정 */
  animation: fadeOut 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding-right: 2px;
}